<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheet/about.css">
    <title>About Us</title>
</head>
<body>
	<nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/bookmark/home">HOME</a></li>
                <li><a href="/bookmark/books">BOOKS</a></li>
                <li><a href="/bookmark/about">ABOUT US</a></li>
                <li><a href="/bookmark/register">SIGN UP</a></li>
            </ul>
            <h1 class="logo">BookMARK</h1>
        </div>
    </nav>
</body>
</html>