<!DOCTYPE html>
<html lang="en">
<head>
    <title>BookMark</title>
    <link rel="stylesheet" href="/css/mainHome.css" />
</head>
<body>
            <nav class="navbar">
				
        <div class="navbar-container container">
			<h1 class="logo">BookMARK</h1>
			<!--<div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>-->
            <input type="checkbox" name="" id="">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/bookmark/home">HOME</a></li>
                <li><a href="/bookmark/books">BOOKS</a></li>
                <li><a href="/bookmark/about">ABOUT US</a></li>
                <li><a href="/bookmark/register">SIGN UP</a></li>
            </ul>
            
        </div>
    </nav>
        <div class="main">
        <div class = "content-main">
        <div class ="content">
            <h1>eBook Shop <br><span>BookMARK</span></h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

                <button class="cn"><a href="/bookmark/register">JOIN US</a></button>

        </div>
        <div class="homeimage">
                    <img src = "/images/pngtree_ed.png" >
                </div>
                </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>